@using News.Domain
@model Newscast

<div class="container">
    <div class="row">
        <div class="col-md-9" style="margin-top:10px; margin-bottom:10px; margin-left:auto; margin-right:auto">
            <h2>@Model.NewsTitle</h2><br /><hr />
            <p>@Model.NewsContent</p>
        </div>
    </div>
</div>



