<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-title">
                    <h2>Admin Giriş Sayfası</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="contact-form-area">
                    <form action="@Url.Action("UserLogin","User")" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="E-posta">
                            </div>

                            <div class="col-12 col-lg-6">
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Şifre">
                            </div>


                            <div class="col-12 text-center">
                                <button class="btn newspaper-btn mt-30 w-100" type="submit">Giriş Yap</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>



    </div>
</div>
<!-- ##### Contact Form Area End ##### -->